@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bagel+Fat+One&display=swap');

.bagel-fat-one-regular {
    font-family: "Bagel Fat One", serif;
    font-weight: 400;
    font-style: normal;
}

.azeret-mono {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
}

html, body, section {
    background-color: #F0E4CD;
}

#logo {
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#header {
    margin-top: 140px;
    font-family: "Bagel Fat One", serif;
    color: #332518;
}

#content {
    font-family: "Azeret Mono", serif;
    color: #332518;
}